* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 5px;
}

.container > h2 {
  border-left: 10px solid #c2ded1;
  padding-left: 10px;
}

header,
footer {
  background-color: #c2ded1;
}

footer > .container {
  font-weight: 600;
  padding: 20px;
}

h1 {
  color: #354259;
}

nav {
  background-color: #354259;
}

nav ul {
  overflow: hidden;
  padding: 5px;
}

nav li {
  display: inline;
  list-style-type: none;
  height: 20px;
  padding: 10px 0;
}

nav li:hover {
  background-color: #c2ded1;
}

nav a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.subtext {
  color: white;
}

.flex-column {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 20px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #11c5c6;
  overflow-x: scroll;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 5px;
}

.overflow-x {
  overflow-x: scroll;
}

.flex-row-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-box {
  width: 150px;
  height: 120px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

.title-box {
  font-size: 16px;
  padding: 0 10px;
  color: #354259;
  text-transform: capitalize;
  min-width: 200px;
}

.box {
  margin: 5px;
  text-decoration: none;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.box-shadow:hover {
  background-color: #c2ded1;
  transition: 0.8s;
}

#article article {
  padding: 0 20px 0 0 !important;
}

#article img {
  float: left;
  margin: 0 10px 10px 10px;
  width: 200px;
}

#article p {
  text-align: justify;
}

.clear {
  clear: left;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.flex-col a {
  text-decoration: none;
}

.img-profile {
  width: 200px;
  border-radius: 50%;
}

.center {
  text-align: center;
}

#load-more {
  margin: 0 auto;
  border: 1px solid #cdc2ae;
  color: #cdc2ae;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: white;
  transition: 0.8s;
}

#load-more:hover {
  color: white;
  background-color: #cdc2ae;
  border-radius: 10px;
}

#profile-section a {
  margin-top: 10px;
  font-weight: 600;
  color: #354259;
}

@media screen and (max-width: 600px) {
  #article p {
    font-size: 0.9em;
  }

  #article h2 {
    font-size: 1.1em;
  }

  #article img {
    width: 120px;
  }
}

@media screen and (max-width: 700px) {
  .img-box {
    width: 120px;
  }

  .title-box {
    font-size: 0.9em;
    min-width: 120px;
  }

  #profile-section {
    display: none;
  }
}
